body {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,0.5440301120448179) 100%);
}
.image-size {
    width: 100px;
    height: auto;
    object-fit: cover;
}